
**Your goal**: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.


1. The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv

2. The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv]

3. Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

Detect and document at least
* **Eight quality issues**
* **Two tidiness issues**


* **three insights** 
* **one visualization**

* Create a 300-600 word written report called wrangle_report.pdf or wrangle_report.html that briefly describes your wrangling efforts. This is to be framed as an internal document.

* Create a 250-word-minimum written report called act_report.pdf or act_report.html that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.

## Basic wrangling strategy

1. Gather all data sets, document issues pertinent to every dataset in the process.
2. Merge all data sets.
3. Remove duplicate and redundant data.
4. Resolve tidiness issues.
5. Resolve quality issues.

## Possible analysis and visualisation questions
- Locate the 'they are good dogs Brent' tweet and see how it affected number of followers
    - this tweet is not part of the archive used
- is there a correlation between dog breed and the number of favorites and retweets?

### Twitter archive issues

- source field needs to be parsed and turned into `category` type variable
- `timestamp` column should be a `date_time` type variable
- `retweeted_status_timestamp` columnh should be a `date_time` variable
- `doggo / floofer / pupper / puppo` columns should be boolean variables

In [1]:
import requests as rq
import pandas as pd
import numpy as np
import io
import json


## Dataset 1
### Read the enhanced twitter archive into a dataframe

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
twitter_archive.head(15)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo

In [4]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Twitter archive issues

- source field needs to be parsed and turned into `category` type variable
- `timestamp` column should be a `date_time` type variable
- `retweeted_status_timestamp` columnh should be a `date_time` variable
- `doggo / floofer / pupper / puppo` columns should be boolean variables

### Downloaded archive issues

#### quality:
* remove all empty columns
- in_reply_to_status_id and in_reply_to_status_id_str >> should be strings
- in_reply_to_user_id and in_reply_to_user_id_str >> should be strings


#### tidiness:
* 'display_text_range' is an array that always starts with '0'
* 'source' column should be turned into a categorical variable
* unpack hashtags into a separate column and make it a categotical variable
* unpack tweet URLs into a separate column
* split 'created_at'column into separate date and time

#### tidiness:
- source field needs to be parsed and turned into category type variable
- 'display_text_range' is an array that always starts with '0'

#### quality:
- timestamp column should be a date_time type variable
- doggo / floofer / pupper / puppo columns should be boolean variables
- not matching id's from different sets?

## Dataset 2
### Download the tweet image predictions

In [20]:
r = rq.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [21]:
r.status_code

200

In [22]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [23]:
r.encoding

'utf-8'

#### Load the received .tsv file into a dataframe

In [30]:
# load image predictions dataset from a local file
image_predictions = pd.DataFrame.from_csv('image-predictions.tsv', sep='\t')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [27]:
# load image predictions dataset from the URL
image_predictions = pd.DataFrame.from_csv(io.StringIO(r.content.decode(r.encoding)), sep='\t')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [31]:
image_predictions.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [32]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 666020888022790149 to 892420643555336193
Data columns (total 11 columns):
jpg_url    2075 non-null object
img_num    2075 non-null int64
p1         2075 non-null object
p1_conf    2075 non-null float64
p1_dog     2075 non-null bool
p2         2075 non-null object
p2_conf    2075 non-null float64
p2_dog     2075 non-null bool
p3         2075 non-null object
p3_conf    2075 non-null float64
p3_dog     2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 152.0+ KB

### Merge twitter archive and image predictions

In [33]:
merged_df = pd.merge(twitter_archive,image_predictions,how='inner',on='tweet_id')

In [34]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 28 columns):
tweet_id                      2075 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2075 non-null object
source                        2075 non-null object
text                          2075 non-null object
retweeted_status_id           81 non-null float64
retweeted_status_user_id      81 non-null float64
retweeted_status_timestamp    81 non-null object
expanded_urls                 2075 non-null object
rating_numerator              2075 non-null int64
rating_denominator            2075 non-null int64
name                          2075 non-null object
doggo                         2075 non-null object
floofer                       2075 non-null object
pupper                        2075 non-null object
puppo                         2075 non-null object
jpg_url                       2075 non-null object
img_num                       2075 non-null int64
p1                            2075 non-null object
p1_conf                       2075 non-null float64
p1_dog                        2075 non-null bool
p2                            2075 non-null object
p2_conf                       2075 non-null float64
p2_dog                        2075 non-null bool
p3                            2075 non-null object
p3_conf                       2075 non-null float64
p3_dog                        2075 non-null bool
dtypes: bool(3), float64(7), int64(4), object(14)
memory usage: 427.6+ KB

In [35]:
merged_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

## Dataset 3: Twitter via API
### Set up Twitter API via tweepy

In [ ]:
import tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
api.wait_on_rate_limit = True

### Download WeRateDogs Twitter archive. Takes around 30 mins.

In [ ]:
# create an empty array to store dictionaries retrieved via API
tweets = []
missing_tweets = []

# use tweet_id's from our dataframe to retrieve original tweets
for i in merged_df.tweet_id:
    try:
        tweets.append (api.get_status(i, tweet_mode='extended'))
    except:
        missing_tweets.append(i)
        print ('tweet #', i, ' could not be located')
            
# write downloaded tweets to a json file and store it locally            
with open('tweets.json', 'w') as outfile:
    json.dump(tweets, outfile)

In [ ]:
missing_tweets

### Read the downloaded and saved archive from a local .json file

In [36]:
tweets = pd.read_json ('tweets.json')

In [37]:
tweets.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,en,None,False,False,7979,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,False,This is Tilly. She's just checking pup on you....,NaN,...,en,None,False,False,5925,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,en,None,False,False,3913,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,False,This is Darla. She commenced a snooze mid meal...,NaN,...,en,None,False,False,8132,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,False,This is Franklin. He would like you to stop ca...,NaN,...,en,None,False,False,8812,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [38]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 28 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2061 non-null datetime64[ns]
display_text_range               2061 non-null object
entities                         2061 non-null object
extended_entities                2061 non-null object
favorite_count                   2061 non-null int64
favorited                        2061 non-null bool
full_text                        2061 non-null object
geo                              0 non-null float64
id                               2061 non-null int64
id_str                           2061 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  2061 non-null bool
lang                             2061 non-null object
place                            1 non-null object
possibly_sensitive               2061 non-null bool
possibly_sensitive_appealable    2061 non-null bool
retweet_count                    2061 non-null int64
retweeted                        2061 non-null bool
retweeted_status                 74 non-null object
source                           2061 non-null object
truncated                        2061 non-null bool
user                             2061 non-null object
dtypes: bool(6), datetime64[ns](1), float64(7), int64(4), object(10)
memory usage: 366.4+ KB

#### quality:
* remove all empty columns
- in_reply_to_status_id and in_reply_to_status_id_str >> should be strings
- in_reply_to_user_id and in_reply_to_user_id_str >> should be strings


#### tidiness:
* 'display_text_range' is an array that always starts with '0'
* 'source' column should be turned into a categorical variable
* unpack hashtags into a separate column and make it a categotical variable
* unpack tweet URLs into a separate column
* unpack `followers_count` from within `user` field
* unpack `friends_count` from within `user` field
* unpack `listed_coutn` from within `user` field
* unpack `statuses_count` from within `user` field
* split 'created_at'column into separate date and time

### Merge tweets with two previous datasets

In [39]:
# rename id columns to identical names
tweets.rename(columns={'id':'tweet_id'},inplace=True)

In [61]:
# merge two dataframes on the 'tweet_id' column
we_rate_dogs = pd.merge(merged_df,tweets, how='inner', on='tweet_id')

## Remove duplicate and redundant data

In [41]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 55 columns):
tweet_id                         2061 non-null int64
in_reply_to_status_id_x          23 non-null float64
in_reply_to_user_id_x            23 non-null float64
timestamp                        2061 non-null object
source_x                         2061 non-null object
text                             2061 non-null object
retweeted_status_id              74 non-null float64
retweeted_status_user_id         74 non-null float64
retweeted_status_timestamp       74 non-null object
expanded_urls                    2061 non-null object
rating_numerator                 2061 non-null int64
rating_denominator               2061 non-null int64
name                             2061 non-null object
doggo                            2061 non-null object
floofer                          2061 non-null object
pupper                           2061 non-null object
puppo                            2061 non-null object
jpg_url                          2061 non-null object
img_num                          2061 non-null int64
p1                               2061 non-null object
p1_conf                          2061 non-null float64
p1_dog                           2061 non-null bool
p2                               2061 non-null object
p2_conf                          2061 non-null float64
p2_dog                           2061 non-null bool
p3                               2061 non-null object
p3_conf                          2061 non-null float64
p3_dog                           2061 non-null bool
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2061 non-null datetime64[ns]
display_text_range               2061 non-null object
entities                         2061 non-null object
extended_entities                2061 non-null object
favorite_count                   2061 non-null int64
favorited                        2061 non-null bool
full_text                        2061 non-null object
geo                              0 non-null float64
id_str                           2061 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id_y          23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id_y            23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  2061 non-null bool
lang                             2061 non-null object
place                            1 non-null object
possibly_sensitive               2061 non-null bool
possibly_sensitive_appealable    2061 non-null bool
retweet_count                    2061 non-null int64
retweeted                        2061 non-null bool
retweeted_status                 74 non-null object
source_y                         2061 non-null object
truncated                        2061 non-null bool
user                             2061 non-null object
dtypes: bool(9), datetime64[ns](1), float64(14), int64(7), object(24)
memory usage: 774.9+ KB

Summing data in columns highlights some of the empty variables.

In [70]:
we_rate_dogs.sum(axis=0)

tweet_id                                                       8098880034596373798
in_reply_to_status_id_x                                                1.60497e+19
in_reply_to_user_id_x                                                  9.65306e+10
timestamp                        2017-08-01 16:23:56 +00002017-08-01 00:17:27 +...
source_x                         <a href="http://twitter.com/download/iphone" r...
text                             This is Phineas. He's a mystical boy. Only eve...
retweeted_status_id                                                    5.63835e+19
retweeted_status_user_id                                               7.87462e+17
expanded_urls                    https://twitter.com/dog_rates/status/892420643...
rating_numerator                                                             25273
rating_denominator                                                           21671
name                             PhineasTillyArchieDarlaFranklinNoneJaxNoneZoey...
doggo                            NoneNoneNoneNoneNoneNoneNoneNoneNonedoggoNoneN...
floofer                          NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNo...
pupper                           NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNo...
puppo                            NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNo...
jpg_url                          https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jp...
img_num                                                                       2481
p1                               orangeChihuahuaChihuahuapaper_towelbassetChesa...
p1_conf                                                                    1224.79
p1_dog                                                                        1521
p2                               bagelPekinesemalamuteLabrador_retrieverEnglish...
p2_conf                                                                    277.529
p2_dog                                                                        1541
p3                               bananapapillonkelpiespatulaGerman_short-haired...
p3_conf                                                                    124.505
p3_dog                                                                        1487
contributors                                                                     0
coordinates                                                                      0
display_text_range               [0, 85, 0, 138, 0, 121, 0, 79, 0, 138, 0, 138,...
favorite_count                                                            16894703
favorited                                                                        0
full_text                        This is Phineas. He's a mystical boy. Only eve...
geo                                                                              0
id_str                                                         8098880034596372480
in_reply_to_status_id_y                                                1.60497e+19
in_reply_to_status_id_str                                              1.60497e+19
in_reply_to_user_id_y                                                  9.65306e+10
in_reply_to_user_id_str                                                9.65306e+10
is_quote_status                                                                  0
lang                             enenenenenenenenenenenenenenenenenenenenenenen...
possibly_sensitive                                                               0
possibly_sensitive_appealable                                                    0
retweet_count                                                              5527092
retweeted                                                                        0
source_y                         <a href="http://twitter.com/download/iphone" r...
truncated                                                                        0
dtype: object

In [74]:
zero_columns = ['contributors','coordinates','favorited','geo','possibly_sensitive','possibly_sensitive_appealable','retweeted','truncated','is_quote_status']
we_rate_dogs.drop(columns=zero_columns,inplace=True)

In [75]:
# are source_x and source_y columns identical?
print (sum(we_rate_dogs.source_x == we_rate_dogs.source_y) - len(we_rate_dogs))

0

In this analysis we will not engage in understanding social context of this account, therefore all information pertaining to retweets and replies can be considered redundant.

In [76]:
redundant_columns = ['in_reply_to_status_id_x', 'in_reply_to_user_id_x',
'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp',
'in_reply_to_screen_name','in_reply_to_status_id_y', 'in_reply_to_status_id_str',
'in_reply_to_user_id_y', 'in_reply_to_user_id_str', 'source_y','retweeted_status']

In [77]:
we_rate_dogs.drop(columns=redundant_columns, inplace=True)

In [78]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 34 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null object
source_x              2061 non-null object
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null object
floofer               2061 non-null object
pupper                2061 non-null object
puppo                 2061 non-null object
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
created_at            2061 non-null datetime64[ns]
display_text_range    2061 non-null object
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
dtypes: bool(3), datetime64[ns](1), float64(3), int64(7), object(20)
memory usage: 521.3+ KB

### Define 
`display_text_range` column can be effectively reduced to a single `int` rather than a list.

In [79]:
sum(we_rate_dogs.display_text_range.apply(lambda x: 1 if x[0] > 0 else 0))

0

#### Code

extract the relevant value, put it into a new column and drop the old column

In [80]:
we_rate_dogs['display_text_end'] = we_rate_dogs.display_text_range.apply(lambda x: x[1]).astype(int)
we_rate_dogs.drop(columns='display_text_range', inplace=True)

#### Test
check if our new colum is of `int64` type

In [81]:
print (type(we_rate_dogs.display_text_end[0]))
we_rate_dogs.head()

<class 'numpy.int64'>

,tweet_id,timestamp,source_x,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,entities,extended_entities,favorite_count,full_text,id_str,lang,place,retweet_count,user,display_text_end
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,...,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,This is Phineas. He's a mystical boy. Only eve...,892420643555336192,en,None,7979,"{'id': 4196983835, 'id_str': '4196983835', 'na...",85
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,...,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,This is Tilly. She's just checking pup on you....,892177421306343424,en,None,5925,"{'id': 4196983835, 'id_str': '4196983835', 'na...",138
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,...,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,en,None,3913,"{'id': 4196983835, 'id_str': '4196983835', 'na...",121
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,...,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,This is Darla. She commenced a snooze mid meal...,891689557279858688,en,None,8132,"{'id': 4196983835, 'id_str': '4196983835', 'na...",79
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,...,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,This is Franklin. He would like you to stop ca...,891327558926688256,en,None,8812,"{'id': 4196983835, 'id_str': '4196983835', 'na...",138

The `user` field contains a number of interesting fields. Let's unpack some of those into our dataframe.

### Define
Unpack `followers_count` field from `user` into separate column

#### Code
Using `apply` function - unpack the values.

In [93]:
we_rate_dogs['followers'] = we_rate_dogs.user.apply(lambda x: x['followers_count'])

#### Test
Check the new column is in place and that it's `int64` type.

In [94]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 35 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null object
source_x              2061 non-null object
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null object
floofer               2061 non-null object
pupper                2061 non-null object
puppo                 2061 non-null object
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
created_at            2061 non-null datetime64[ns]
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(9), object(19)
memory usage: 617.4+ KB

### Define
Unpack `favourites_count` from within `user` field into a separate column.

In [100]:
we_rate_dogs['total_favourites'] = we_rate_dogs.user.apply(lambda x: x['favourites_count'])

In [102]:
print (we_rate_dogs['total_favourites'].min())
print (we_rate_dogs['total_favourites'].mean())
print (we_rate_dogs['total_favourites'].max())

142633
142633.58369723434
142636

### Define

There should be a limited set of appications used to post tweets.

In [106]:
# how many various sources were used to post tweets?
we_rate_dogs.source_x.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

#### Code
This kind of data is best represented as a categorical variable.

In [107]:
we_rate_dogs.source_x = we_rate_dogs.source_x.apply(lambda x: x.split('>')[1].split('<')[0]).astype('category')

####  Test
Check unique values in the column.

In [108]:
we_rate_dogs.source_x.unique()

[Twitter for iPhone, Twitter Web Client, TweetDeck]
Categories (3, object): [Twitter for iPhone, Twitter Web Client, TweetDeck]

### Define
Hashtags are nested deep inside dictionaries. To be useful for analysis - they need to be extracted into a separate columnb

#### Code

extract hashtags using the `apply` method, put them in a separate column and cast them into `category` type variable.

In [115]:
we_rate_dogs['hashtags'] = we_rate_dogs.entities.apply(lambda x: x['hashtags'])

In [116]:
def unpack_hashtags(x):
    try:
        return x[0]['text']
    except:
        return None
        
we_rate_dogs.hashtags = we_rate_dogs.hashtags.apply(lambda x: unpack_hashtags(x))

In [117]:
we_rate_dogs.hashtags.unique()

array([None, 'BarkWeek', 'Canada150', 'PrideMonthPuppo', 'PrideMonth',
       'dogsatpollingstations', 'ScienceMarch', 'K9VeteransDay',
       'GoodDogs', 'WKCDogShow', 'BellLetsTalk', 'WomensMarch',
       'FinalFur', 'LoveTwitter', 'notallpuppers', 'NoDaysOff'],
      dtype=object)

With this few hashtags they are better as a 'category' type variable.

In [118]:
we_rate_dogs.hashtags = we_rate_dogs.hashtags.astype('category')

#### Test
Check that the `hashtags` colummn is a `category` type.

In [119]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 37 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null object
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null object
floofer               2061 non-null object
pupper                2061 non-null object
puppo                 2061 non-null object
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
created_at            2061 non-null datetime64[ns]
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
dtypes: bool(3), category(2), datetime64[ns](1), float64(3), int64(10), object(18)
memory usage: 622.3+ KB

### Define

Same as hashtags - `url`s are nested deep inside dictionaries. They need to be extracted into a separate column.

#### Code
Using `apply` function with a short lambda expression - extract the `url` into a new column.

In [120]:
we_rate_dogs['url'] = we_rate_dogs.entities.apply(lambda x: x['media'][0]['url'])

#### Test
Check the new `url` column has the right information.

In [121]:
we_rate_dogs.head()

,tweet_id,timestamp,source_x,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,id_str,lang,place,retweet_count,user,display_text_end,followers,total_favourites,hashtags,url
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,...,892420643555336192,en,None,7979,"{'id': 4196983835, 'id_str': '4196983835', 'na...",85,8278771,142633,NaN,https://t.co/MgUWQ76dJU
1,892177421306343426,2017-08-01 00:17:27 +0000,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,...,892177421306343424,en,None,5925,"{'id': 4196983835, 'id_str': '4196983835', 'na...",138,8278771,142633,NaN,https://t.co/0Xxu71qeIV
2,891815181378084864,2017-07-31 00:18:03 +0000,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,...,891815181378084864,en,None,3913,"{'id': 4196983835, 'id_str': '4196983835', 'na...",121,8278771,142633,NaN,https://t.co/wUnZnhtVJB
3,891689557279858688,2017-07-30 15:58:51 +0000,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,...,891689557279858688,en,None,8132,"{'id': 4196983835, 'id_str': '4196983835', 'na...",79,8278771,142633,NaN,https://t.co/tD36da7qLQ
4,891327558926688256,2017-07-29 16:00:24 +0000,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,...,891327558926688256,en,None,8812,"{'id': 4196983835, 'id_str': '4196983835', 'na...",138,8278771,142633,BarkWeek,https://t.co/AtUZn91f7f

In [122]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 38 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null object
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null object
floofer               2061 non-null object
pupper                2061 non-null object
puppo                 2061 non-null object
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
created_at            2061 non-null datetime64[ns]
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
url                   2061 non-null object
dtypes: bool(3), category(2), datetime64[ns](1), float64(3), int64(10), object(19)
memory usage: 638.4+ KB

### Define

`timestamp` and `crated_at` columns are probably identical. If that's the case - one needs to be removed.

#### Code

In [123]:
# first - convert timestamp into datetime format
we_rate_dogs.timestamp = pd.to_datetime(we_rate_dogs.timestamp)

#### Test

In [124]:
# strip both fileds of time zone
we_rate_dogs['timestamp'] = we_rate_dogs['timestamp'].apply(lambda x: x.replace(tzinfo=None))
we_rate_dogs['created_at'] = we_rate_dogs['created_at'].apply(lambda x: x.replace(tzinfo=None))

In [125]:
# subtract one from the other and sum the differences to see if there's anything different between the two
(we_rate_dogs['timestamp'] - we_rate_dogs['created_at']).unique()

array([0], dtype='timedelta64[ns]')

In [126]:
# drop the created_at column
we_rate_dogs.drop(columns='created_at',inplace=True)

In [127]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 37 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null datetime64[ns]
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null object
floofer               2061 non-null object
pupper                2061 non-null object
puppo                 2061 non-null object
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
url                   2061 non-null object
dtypes: bool(3), category(2), datetime64[ns](1), float64(3), int64(10), object(18)
memory usage: 622.3+ KB

### Define

`doggo`, `floofer`, `pupper`, `puppo` columns are better represented as `bool`s.

#### Code

In [128]:
def to_bool(x):
    if x=='None':
        return False
    else:
        return True
    
we_rate_dogs.doggo = we_rate_dogs.doggo.apply(to_bool)
we_rate_dogs.floofer = we_rate_dogs.floofer.apply(to_bool)
we_rate_dogs.pupper = we_rate_dogs.pupper.apply(to_bool)
we_rate_dogs.puppo = we_rate_dogs.puppo.apply(to_bool)

#### Test
Check if the columns have correct data types in them.

In [129]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 37 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null datetime64[ns]
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null bool
floofer               2061 non-null bool
pupper                2061 non-null bool
puppo                 2061 non-null bool
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null object
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
url                   2061 non-null object
dtypes: bool(7), category(2), datetime64[ns](1), float64(3), int64(10), object(14)
memory usage: 565.9+ KB

### Define
Convert `lang` column into category.

#### Code

In [130]:
we_rate_dogs.lang = we_rate_dogs.lang.astype('category')

### Test

In [131]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 37 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null datetime64[ns]
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null bool
floofer               2061 non-null bool
pupper                2061 non-null bool
puppo                 2061 non-null bool
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null category
place                 1 non-null object
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
url                   2061 non-null object
dtypes: bool(7), category(3), datetime64[ns](1), float64(3), int64(10), object(13)
memory usage: 552.0+ KB

### Define
There is only one record in the 'place' column. What is it?

In [132]:
we_rate_dogs[we_rate_dogs.place.notnull()].place

686    {'id': '7356b662670b2c31', 'url': 'https://api...
Name: place, dtype: object

#### Code

Let's store this place in a separate variable and remove the column.

In [133]:
wrd_place = we_rate_dogs.iloc[686]
we_rate_dogs.drop(columns='place',inplace=True)

In [134]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 36 columns):
tweet_id              2061 non-null int64
timestamp             2061 non-null datetime64[ns]
source_x              2061 non-null category
text                  2061 non-null object
expanded_urls         2061 non-null object
rating_numerator      2061 non-null int64
rating_denominator    2061 non-null int64
name                  2061 non-null object
doggo                 2061 non-null bool
floofer               2061 non-null bool
pupper                2061 non-null bool
puppo                 2061 non-null bool
jpg_url               2061 non-null object
img_num               2061 non-null int64
p1                    2061 non-null object
p1_conf               2061 non-null float64
p1_dog                2061 non-null bool
p2                    2061 non-null object
p2_conf               2061 non-null float64
p2_dog                2061 non-null bool
p3                    2061 non-null object
p3_conf               2061 non-null float64
p3_dog                2061 non-null bool
entities              2061 non-null object
extended_entities     2061 non-null object
favorite_count        2061 non-null int64
full_text             2061 non-null object
id_str                2061 non-null int64
lang                  2061 non-null category
retweet_count         2061 non-null int64
user                  2061 non-null object
display_text_end      2061 non-null int64
followers             2061 non-null int64
total_favourites      2061 non-null int64
hashtags              24 non-null category
url                   2061 non-null object
dtypes: bool(7), category(3), datetime64[ns](1), float64(3), int64(10), object(12)
memory usage: 535.9+ KB

In [135]:
# we_rate_dogs[['tweet_id', 'id_str']]
(we_rate_dogs['tweet_id'] - we_rate_dogs['id_str'])

0        1
1        2
2        0
3        0
4        0
5        0
6        2
7        0
8        0
9        1
10       0
11       1
12       1
13       0
14       1
15       0
16       0
17       1
18       0
19       0
20       0
21       0
22      11
23       0
24       0
25       0
26       0
27       0
28       0
29       1
        ..
2031     1
2032     0
2033     0
2034     2
2035     1
2036     0
2037     0
2038     0
2039     0
2040     0
2041     0
2042     0
2043     0
2044     0
2045     0
2046     2
2047     1
2048     0
2049     0
2050     5
2051     0
2052     0
2053     4
2054     0
2055     1
2056     1
2057     0
2058     1
2059     0
2060     5
Length: 2061, dtype: int64

## Analysis part

In [144]:
print ('start date: ', we_rate_dogs.timestamp.min())
print ('end date: ', we_rate_dogs.timestamp.max())
duration = we_rate_dogs.timestamp.max()- we_rate_dogs.timestamp.min()
print ('duration: ', duration)
print ('average tweets per day: ', len(we_rate_dogs)/duration.days)

start date:  2015-11-15 22:32:08
end date:  2017-08-01 16:23:56
duration:  624 days 17:51:48
average tweets per day:  3.3028846153846154

In [143]:
type(duration.days)

int