---
# Brief
---
**Your goal**: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.


1. The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv

2. The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv]

3. Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

Detect and document at least
* **Eight quality issues**
* **Two tidiness issues**


* **three insights** 
* **one visualization**

* Create a 300-600 word written report called wrangle_report.pdf or wrangle_report.html that briefly describes your wrangling efforts. This is to be framed as an internal document.

* Create a 250-word-minimum written report called act_report.pdf or act_report.html that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.

## Basic wrangling strategy

1. Gather all data sets, document issues pertinent to every dataset in the process.
2. Merge all data sets.
3. Remove null, duplicate and redundant data.
4. Resolve tidiness issues.
5. Resolve quality issues.
6. Find three insights.
7. Create visualization.

In [1]:
import requests as rq
import pandas as pd
import numpy as np
import io
import json
from random import randrange

---
# Gather data
---

## Dataset 1: Enhanced twitter archive
### Read the enhanced twitter archive into a dataframe

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
twitter_archive.head(15)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo

In [4]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

## Dataset 2: Image predictions

### Download the tweet image predictions

In [5]:
r = rq.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
r.status_code

200

In [6]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [7]:
r.encoding

'utf-8'

#### Load the received .tsv file into a dataframe

In [8]:
# load image predictions dataset from a local file
image_predictions = pd.DataFrame.from_csv('image-predictions.tsv', sep='\t')

/Users/s8/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [9]:
# load image predictions dataset from the URL
image_predictions = pd.DataFrame.from_csv(io.StringIO(r.content.decode(r.encoding)), sep='\t')

/Users/s8/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [10]:
image_predictions.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [11]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 666020888022790149 to 892420643555336193
Data columns (total 11 columns):
jpg_url    2075 non-null object
img_num    2075 non-null int64
p1         2075 non-null object
p1_conf    2075 non-null float64
p1_dog     2075 non-null bool
p2         2075 non-null object
p2_conf    2075 non-null float64
p2_dog     2075 non-null bool
p3         2075 non-null object
p3_conf    2075 non-null float64
p3_dog     2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 152.0+ KB

### Merge twitter archive and image predictions

In [12]:
merged_df = pd.merge(twitter_archive,image_predictions,how='inner',on='tweet_id')

In [13]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 28 columns):
tweet_id                      2075 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2075 non-null object
source                        2075 non-null object
text                          2075 non-null object
retweeted_status_id           81 non-null float64
retweeted_status_user_id      81 non-null float64
retweeted_status_timestamp    81 non-null object
expanded_urls                 2075 non-null object
rating_numerator              2075 non-null int64
rating_denominator            2075 non-null int64
name                          2075 non-null object
doggo                         2075 non-null object
floofer                       2075 non-null object
pupper                        2075 non-null object
puppo                         2075 non-null object
jpg_url                       2075 non-null object
img_num                       2075 non-null int64
p1                            2075 non-null object
p1_conf                       2075 non-null float64
p1_dog                        2075 non-null bool
p2                            2075 non-null object
p2_conf                       2075 non-null float64
p2_dog                        2075 non-null bool
p3                            2075 non-null object
p3_conf                       2075 non-null float64
p3_dog                        2075 non-null bool
dtypes: bool(3), float64(7), int64(4), object(14)
memory usage: 427.6+ KB

## Dataset 3: Twitter via API

### Set up Twitter API via tweepy

In [22]:
import tweepy

TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
ACCESS_TOKEN = ''
ACCESS_SECRET = ''

auth = tweepy.OAuthHandler(TWITTER_CONSUMER_KEY, TWITTER_CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
api.wait_on_rate_limit = True

### Download WeRateDogs Twitter archive. Takes around 30 mins.

In [23]:
# create an empty array to store dictionaries retrieved via API
tweets = []
missing_tweets = []

# use tweet_id's from our dataframe to retrieve original tweets
for i in merged_df.tweet_id:
    try:
        tweets.append (api.get_status(i, tweet_mode='extended'))
    except:
        missing_tweets.append(i)
        print ('tweet #', i, ' could not be located')
            
# write downloaded tweets to a json file and store it locally            
with open('tweets.json', 'w') as outfile:
    json.dump(tweets, outfile)

tweet # 888202515573088257  could not be located
tweet # 873697596434513921  could not be located
tweet # 872261713294495745  could not be located
tweet # 861769973181624320  could not be located
tweet # 851953902622658560  could not be located
tweet # 844704788403113984  could not be located
tweet # 842892208864923648  could not be located
tweet # 837366284874571778  could not be located
tweet # 837012587749474308  could not be located
tweet # 829374341691346946  could not be located
tweet # 802247111496568832  could not be located
tweet # 779123168116150273  could not be located
tweet # 754011816964026368  could not be located
tweet # 680055455951884288  could not be located

In [25]:
missing_tweets

[888202515573088257,
 873697596434513921,
 872261713294495745,
 861769973181624320,
 851953902622658560,
 844704788403113984,
 842892208864923648,
 837366284874571778,
 837012587749474308,
 829374341691346946,
 802247111496568832,
 779123168116150273,
 754011816964026368,
 680055455951884288]

### Read the downloaded and saved archive from a local .json file

In [26]:
tweets = pd.read_json ('tweets.json')

In [27]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 28 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2061 non-null datetime64[ns]
display_text_range               2061 non-null object
entities                         2061 non-null object
extended_entities                2061 non-null object
favorite_count                   2061 non-null int64
favorited                        2061 non-null bool
full_text                        2061 non-null object
geo                              0 non-null float64
id                               2061 non-null int64
id_str                           2061 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  2061 non-null bool
lang                             2061 non-null object
place                            1 non-null object
possibly_sensitive               2061 non-null bool
possibly_sensitive_appealable    2061 non-null bool
retweet_count                    2061 non-null int64
retweeted                        2061 non-null bool
retweeted_status                 74 non-null object
source                           2061 non-null object
truncated                        2061 non-null bool
user                             2061 non-null object
dtypes: bool(6), datetime64[ns](1), float64(7), int64(4), object(10)
memory usage: 366.4+ KB

In [28]:
tweets.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",36940,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,en,None,False,False,7873,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",31781,False,This is Tilly. She's just checking pup on you....,NaN,...,en,None,False,False,5844,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",23952,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,en,None,False,False,3859,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40263,False,This is Darla. She commenced a snooze mid meal...,NaN,...,en,None,False,False,8042,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38458,False,This is Franklin. He would like you to stop ca...,NaN,...,en,None,False,False,8701,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

### Merge tweets with two previous datasets

In [29]:
# rename id columns to identical names
tweets.rename(columns={'id':'tweet_id'},inplace=True)

# merge two dataframes
# we're not specifying columns and letting pandas take care of 
# choosing identical records / columns to merge on
we_rate_dogs = pd.merge(merged_df,tweets, how='inner')

In [32]:
len(we_rate_dogs) == len(tweets)

True

Having the same number of records in our merged dataframe as was in the `tweets` dataframe means that all the data in the columns used during merge is identical

---
# Assess data
---

Let's take a quick overview of the complete merged dataset that we've created.

In [33]:
we_rate_dogs.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,is_quote_status,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,truncated,user
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,False,en,None,False,False,7873,False,NaN,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,False,en,None,False,False,5844,False,NaN,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,False,en,None,False,False,3859,False,NaN,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,False,en,None,False,False,8042,False,NaN,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,False,en,None,False,False,8701,False,NaN,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [34]:
we_rate_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 52 columns):
tweet_id                         2061 non-null int64
in_reply_to_status_id            23 non-null float64
in_reply_to_user_id              23 non-null float64
timestamp                        2061 non-null object
source                           2061 non-null object
text                             2061 non-null object
retweeted_status_id              74 non-null float64
retweeted_status_user_id         74 non-null float64
retweeted_status_timestamp       74 non-null object
expanded_urls                    2061 non-null object
rating_numerator                 2061 non-null int64
rating_denominator               2061 non-null int64
name                             2061 non-null object
doggo                            2061 non-null object
floofer                          2061 non-null object
pupper                           2061 non-null object
puppo                            2061 non-null object
jpg_url                          2061 non-null object
img_num                          2061 non-null int64
p1                               2061 non-null object
p1_conf                          2061 non-null float64
p1_dog                           2061 non-null bool
p2                               2061 non-null object
p2_conf                          2061 non-null float64
p2_dog                           2061 non-null bool
p3                               2061 non-null object
p3_conf                          2061 non-null float64
p3_dog                           2061 non-null bool
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2061 non-null datetime64[ns]
display_text_range               2061 non-null object
entities                         2061 non-null object
extended_entities                2061 non-null object
favorite_count                   2061 non-null int64
favorited                        2061 non-null bool
full_text                        2061 non-null object
geo                              0 non-null float64
id_str                           2061 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  2061 non-null bool
lang                             2061 non-null object
place                            1 non-null object
possibly_sensitive               2061 non-null bool
possibly_sensitive_appealable    2061 non-null bool
retweet_count                    2061 non-null int64
retweeted                        2061 non-null bool
retweeted_status                 74 non-null object
truncated                        2061 non-null bool
user                             2061 non-null object
dtypes: bool(9), datetime64[ns](1), float64(12), int64(7), object(23)
memory usage: 726.6+ KB

How many columns of data do we have after merging all datasets.

In [35]:
print (len(we_rate_dogs.columns))

52

## Duplicate, zero and redundant data
First let's assess whether there are any columns that contain no data whatsoever or that are irrelevant for the purposes of our analysis. Let's make empty lists which we will populate over the course of our assessment and drop remove them from the dataframe.

In [146]:
redundant_columns = []

### Duplicate columns
Some of the data is duplicated across columns

`
23  :  in_reply_to_status_id
23  :  in_reply_to_user_id
74  :  retweeted_status_id
74  :  retweeted_status_user_id
74  :  retweeted_status_timestamp
0  :  contributors
0  :  coordinates
0  :  geo
23  :  in_reply_to_screen_name
23  :  in_reply_to_status_id_str
23  :  in_reply_to_user_id_str
1  :  place
74  :  retweeted_status
`

In [169]:
we_rate_dogs.retweeted_status_user_id.unique().astype(int)

array([-9223372036854775808,           4196983835,            512804507,
         787461778435289088,            363890752,            341021133,
                  597064155,             41198418,            811740824,
                  487197737,           1228325660,           1732729088,
                  280479778,               783214,           4296831739])

In [167]:
print (we_rate_dogs.iloc[32].retweeted_status_id.astype(int))
print (we_rate_dogs.iloc[32].retweeted_status_user_id.astype(int))
print (we_rate_dogs.iloc[32].retweeted_status_timestamp)
print (we_rate_dogs.iloc[32].retweeted_status)

830583320585068544
4196983835
2017-02-12 01:04:29 +0000
{'created_at': 'Sun Feb 12 01:04:29 +0000 2017', 'id': 830583320585068544, 'id_str': '830583320585068544', 'full_text': 'This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5', 'truncated': False, 'display_text_range': [0, 94], 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 830583314243268608, 'id_str': '830583314243268608', 'indices': [95, 118], 'media_url': 'http://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg', 'media_url_https': 'https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg', 'url': 'https://t.co/SATN4If5H5', 'display_url': 'pic.twitter.com/SATN4If5H5', 'expanded_url': 'https://twitter.com/dog_rates/status/830583320585068544/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 1536, 'h': 2048, 'resize': 'fit'}, 'medium': {'w': 900, 'h': 1200, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}, 'features': {'all': {'tags': [{'type': 'user', 'user_id': '437072817', 'screen_name': 'Chappee_98', 'name': 'Alexandra Gibson'}]}, 'large': {'faces': [{'x': 884, 'y': 142, 'h': 282, 'w': 282}]}, 'medium': {'faces': [{'x': 517, 'y': 83, 'h': 165, 'w': 165}]}, 'orig': {'faces': [{'x': 884, 'y': 142, 'h': 282, 'w': 282}]}, 'small': {'faces': [{'x': 293, 'y': 47, 'h': 93, 'w': 93}]}}}]}, 'extended_entities': {'media': [{'id': 830583314243268608, 'id_str': '830583314243268608', 'indices': [95, 118], 'media_url': 'http://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg', 'media_url_https': 'https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg', 'url': 'https://t.co/SATN4If5H5', 'display_url': 'pic.twitter.com/SATN4If5H5', 'expanded_url': 'https://twitter.com/dog_rates/status/830583320585068544/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 1536, 'h': 2048, 'resize': 'fit'}, 'medium': {'w': 900, 'h': 1200, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}, 'features': {'all': {'tags': [{'type': 'user', 'user_id': '437072817', 'screen_name': 'Chappee_98', 'name': 'Alexandra Gibson'}]}, 'large': {'faces': [{'x': 884, 'y': 142, 'h': 282, 'w': 282}]}, 'medium': {'faces': [{'x': 517, 'y': 83, 'h': 165, 'w': 165}]}, 'orig': {'faces': [{'x': 884, 'y': 142, 'h': 282, 'w': 282}]}, 'small': {'faces': [{'x': 293, 'y': 47, 'h': 93, 'w': 93}]}}}, {'id': 830583314213896192, 'id_str': '830583314213896192', 'indices': [95, 118], 'media_url': 'http://pbs.twimg.com/media/C4bTH6gWAAAV2ex.jpg', 'media_url_https': 'https://pbs.twimg.com/media/C4bTH6gWAAAV2ex.jpg', 'url': 'https://t.co/SATN4If5H5', 'display_url': 'pic.twitter.com/SATN4If5H5', 'expanded_url': 'https://twitter.com/dog_rates/status/830583320585068544/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'medium': {'w': 900, 'h': 1200, 'resize': 'fit'}, 'large': {'w': 1536, 'h': 2048, 'resize': 'fit'}}, 'features': {'all': {'tags': [{'type': 'user', 'user_id': '437072817', 'screen_name': 'Chappee_98', 'name': 'Alexandra Gibson'}]}, 'small': {'faces': []}, 'medium': {'faces': []}, 'orig': {'faces': []}, 'large': {'faces': []}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogs®', 'screen_name': 'dog_rates', 'location': '「 DM YOUR DOGS 」', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀', 'url': 'https://t.co/N7sNNHSfPq', 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq', 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 8494978, 'friends_count': 14, 'listed_count': 6717, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 143613, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 11069, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1191848405112426496/lz8cuaiI_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1191848405112426496/lz8cuaiI_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1565965307', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'can_media_tag': True, 'followed_by': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 17283, 'favorite_count': 68577, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'en'}

In [159]:
we_rate_dogs[we_rate_dogs['retweeted_status'].notna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,is_quote_status,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,truncated,user
32,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,...,False,en,None,False,False,17283,False,{'created_at': 'Sun Feb 12 01:04:29 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
67,877611172832227328,NaN,NaN,2017-06-21 19:36:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @rachel2195: @dog_rates the boyfriend and h...,8.768508e+17,5.128045e+08,2017-06-19 17:14:49 +0000,https://twitter.com/rachel2195/status/87685077...,...,False,en,None,False,False,74,False,{'created_at': 'Mon Jun 19 17:14:49 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
107,867072653475098625,NaN,NaN,2017-05-23 17:40:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @rachaeleasler: these @dog_rates hats are 1...,8.650134e+17,7.874618e+17,2017-05-18 01:17:25 +0000,https://twitter.com/rachaeleasler/status/86501...,...,False,en,None,False,False,116,False,{'created_at': 'Thu May 18 01:17:25 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
130,860924035999428608,NaN,NaN,2017-05-06 18:27:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @tallylott: h*ckin adorable promposal. 13/1...,8.609145e+17,3.638908e+08,2017-05-06 17:49:42 +0000,https://twitter.com/tallylott/status/860914485...,...,False,en,None,False,False,781,False,{'created_at': 'Sat May 06 17:49:42 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
167,851861385021730816,NaN,NaN,2017-04-11 18:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @eddie_coe98: Thanks @dog_rates completed m...,8.482894e+17,3.410211e+08,2017-04-01 21:42:03 +0000,https://twitter.com/eddie_coe98/status/8482893...,...,False,en,None,False,False,19,False,{'created_at': 'Sat Apr 01 21:42:03 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
182,847971574464610304,NaN,NaN,2017-04-01 00:39:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @basic_vacek_: I love my new mug easy 13/10...,8.479710e+17,5.970642e+08,2017-04-01 00:36:55 +0000,https://twitter.com/basic_vacek_/status/847971...,...,False,en,None,False,False,432,False,{'created_at': 'Sat Apr 01 00:36:55 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
209,841833993020538882,NaN,NaN,2017-03-15 02:10:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Ken. His cheeks are mag...,8.174239e+17,4.196984e+09,2017-01-06 17:33:29 +0000,https://twitter.com/dog_rates/status/817423860...,...,False,en,None,False,False,15401,False,{'created_at': 'Fri Jan 06 17:33:29 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
220,839290600511926273,NaN,NaN,2017-03-08 01:44:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @alexmartindawg: THE DRINK IS DR. PUPPER 10...,8.392899e+17,4.119842e+07,2017-03-08 01:41:24 +0000,https://twitter.com/alexmartindawg/status/8392...,...,False,en,None,False,False,146,False,{'created_at': 'Wed Mar 08 01:41:24 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
223,838916489579200512,NaN,NaN,2017-03-07 00:57:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @KibaDva: I collected all the good dogs!! 1...,8.389060e+17,8.117408e+08,2017-03-07 00:15:46 +0000,https://twitter.com/KibaDva/status/83890598062...,...,False,en,None,False,False,35,False,{'created_at': 'Tue Mar 07 00:15:46 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
255,832769181346996225,NaN,NaN,2017-02-18 01:50:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @EmilieGambril: 12/10 h*cking excited about...,8.327664e+17,4.871977e+08,2017-02-18 01:39:12 +0000,https://twitter.com/EmilieGambril/status/83276...,...,False,en,None,False,False,39,False,{'created_at': 'Sat Feb 18 01:39:12 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
261,832215726631055365,NaN,NaN,2017-02-16 13:11:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Moreton. He's the Good ...,7.932865e+17,4.196984e+09,2016-11-01 03:00:09 +0000,https://twitter.com/dog_rates/status/793286476...,...,False,en,None,False,False,9617,False,{'created_at': 'Tue Nov 01 03:00:09 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
262,832040443403784192,NaN,NaN,2017-02-16 01:34:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Klein. These pics were ...,7.699404e+17,4.196984e+09,2016-08-28 16:51:16 +0000,https://twitter.com/dog_rates/status/769940425...,...,False,en,None,False,False,9903,False,{'created_at': 'Sun Aug 28 16:51:16 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
276,829878982036299777,NaN,NaN,2017-02-10 02:25:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Loki. He smiles like El...,8.269587e+17,4.196984e+09,2017-02-02 01:01:21 +0000,https://twitter.com/dog_rates/status/826958653...,...,False,en,None,False,False,5187,False,{'created_at': 'Thu Feb 02 01:01:21 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
309,824796380199809024,NaN,NaN,2017-01-27 01:49:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bailey. She loves going...,7.950767e+17,4.196984e+09,2016-11-06 01:33:58 +0000,https://twitter.com/dog_rates/status/795076730...,...,False,en,None,False,False,5680,False,{'created_at': 'Sun Nov 06 01:33:58 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
318,823269594223824897,NaN,NaN,2017-01-22 20:42:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: We only rate dogs. Please don't...,8.222448e+17,4.196984e+09,2017-01-20 00:50:15 +0000,https://twitter.com/dog_rates/status/822244816...,...,False,en,None,False,False,10255,False,{'created_at': 'Fri Jan 20 00:50:15 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
322,822647212903690241,NaN,NaN,2017-01-21 03:29:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Paisley. She really wan...,8.224891e+17,4.196984e+09,2017-01-20 17:00:46 +0000,https://twitter.com/dog_rates/status/822489057...,...,False,en,None,False,False,6643,False,{'created_at': 'Fri Jan 20 17:00:46 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
328,821813639212650496,NaN,NaN,2017-01-18 20:16:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Hercules. He can have what...,7.806013e+17,4.196984e+09,2016-09-27 02:53:48 +0000,https://twitter.com/dog_rates/status/780601303...,...,False,en,None,False,False,3476,False,{'created_at': 'Tue Sep 27 02:53:48 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
337,820446719150292993,NaN,NaN,2017-01-15 01:45:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Peaches. She's the ulti...,8.001414e+17,4.196984e+09,2016-11-20 00:59:15 +0000,https://twitter.com/dog_rates/status/800141422...,...,False,en,None,False,False,2670,False,{'created_at': 'Sun Nov 20 00:59:15 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
346,819015337530290176,NaN,NaN,2017-01-11 02:57:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He was a very good ...,8.190048e+17,4.196984e+09,2017-01-11 02:15:36 +0000,https://twitter.com/dog_rates/status/819004803...,...,False,en,None,False,False,38296,False,{'created_at': 'Wed Jan 11 02:15:36 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
347,819015331746349057,NaN,NaN,2017-01-11 02:57:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Sunny. She was also a v...,8.190064e+17,4.196984e+09,2017-01-11 02:21:57 +0000,https://twitter.com/dog_rates/status/819006400...,...,False,en,None,False,False,19682,False,{'created_at': 'Wed Jan 11 02:21:57 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
352,818588835076603904,NaN,NaN,2017-01-09 22:42:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Chelsea. She forgot how...,7.735476e+17,4.196984e+09,2016-09-07 15:44:53 +0000,https://twitter.com/dog_rates/status/773547596...,...,False,en,None,False,False,6387,False,{'created_at': 'Wed Sep 07 15:44:53 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
361,817181837579653120,NaN,NaN,2017-01-06 01:31:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Here's a pupper with squeaky hi...,8.159661e+17,4.196984e+09,2017-01-02 17:00:46 +0000,https://twitter.com/dog_rates/status/815966073...,...,False,en,None,False,False,8827,False,{'created_at': 'Mon Jan 02 17:00:46 +0000 2017...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
365,816829038950027264,NaN,NaN,2017-01-05 02:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Betty. She's assisting ...,7.909461e+17,4.196984e+09,2016-10-25 16:00:09 +0000,https://twitter.com/dog_rates/status/790946055...,...,False,en,None,False,False,4905,False,{'created_at': 'Tue Oct 25 16:00:09 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
371,816014286006976512,NaN,NaN,2017-01-02 20:12:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Larry. He has no self c...,7.320056e+17,4.196984e+09,2016-05-16 00:31:53 +0000,https://twitter.com/dog_rates/status/732005617...,...,False,en,None,False,False,5502,False,{'created_at': 'Mon May 16 00:31:53 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
381,813944609378369540,NaN,NaN,2016-12-28 03:08:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bruce. He never backs d...,7.902771e+17,4.196984e+09,2016-10-23 19:42:02 +0000,https://twitter.com/dog_rates/status/790277117...,...,False,en,None,False,False,3316,False,{'created_at': 'Sun Oct 23 19:42:02 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
412,809808892968534016,NaN,NaN,2016-12-16 17:14:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Maximus. His face is st...,7.939622e+17,4.196984e+09,2016-11-02 23:45:19 +0000,https://twitter.com/dog_rates/status/793962221...,...,False,en,None,False,False,5124,False,{'created_at': 'Wed Nov 02 23:45:19 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
419,808134635716833280,NaN,NaN,2016-12-12 02:21:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Milo. I would do terrib...,8.011679e+17,4.196984e+09,2016-11-22 20:58:07 +0000,https://twitter.com/dog_rates/status/801167903...,...,False,en,None,False,False,6209,False,{'created_at': 'Tue Nov 22 20:58:07 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
424,807059379405148160,NaN,NaN,2016-12-09 03:08:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Cali. She arrived preas...,7.829691e+17,4.196984e+09,2016-10-03 15:42:44 +0000,https://twitter.com/dog_rates/status/782969140...,...,False,en,None,False,False,7676,False,{'created_at': 'Mon Oct 03 15:42:44 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
428,806242860592926720,NaN,NaN,2016-12-06 21:04:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Dave. He's currently in...,7.833346e+17,4.196984e+09,2016-10-04 15:55:06 +0000,https://twitter.com/dog_rates/status/783334639...,...,False,en,None,False,False,12187,False,{'created_at': 'Tue Oct 04 15:55:06 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
430,805958939288408065,NaN,NaN,2016-12-06 02:15:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Penny. She fought a bee...,7.827226e+17,4.196984e+09,2016-10-02 23:23:04 +0000,https://twitter.com/dog_rates/status/782722598...,...,False,en,None,False,False,5615,False,{'created_at': 'Sun Oct 02 23:23:04 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,794355576146903043,NaN,NaN,2016-11-04 01:48:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Butter. She can have wh...,7.887659e+17,4.196984e+09,2016-10-19 15:37:03 +0000,https://twitter.com/dog_rates/status/788765914...,...,False,en,None,False,False,10800,False,{'created_at': 'Wed Oct 19 15:37:03 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
499,793614319594401792,NaN,NaN,2016-11-02 00:42:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: When she says you're a good boy...,7.916723e+17,4.196984e+09,2016-10-27 16:06:04 +0000,https://twitter.com/dog_rates/status/791672322...,...,False,en,None,False,False,3274,False,{'created_at': 'Thu Oct 27 16:06:04 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
522,791026214425268224,NaN,NaN,2016-10-25 21:18:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Alfie. He's touching a ...,7.638376e+17,4.196984e+09,2016-08-11 20:40:41 +0000,https://twitter.com/dog_rates/status/763837565...,...,False,en,None,False,False,4286,False,{'created_at': 'Thu Aug 11 20:40:41 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
525,790723298204217344,NaN,NaN,2016-10-25 01:14:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Happy. He's a bathtub r...,7.899865e+17,4.196984e+09,2016-10-23 00:27:05 +0000,https://twitter.com/dog_rates/status/789986466...,...,False,en,None,False,False,2420,False,{'created_at': 'Sun Oct 23 00:27:05 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
541,788070120937619456,NaN,NaN,2016-10-17 17:32:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo and Ty. Bo eats pape...,7.610045e+17,4.196984e+09,2016-08-04 01:03:17 +0000,https://twitter.com/dog_rates/status/761004547...,...,False,en,None,False,False,3587,False,{'created_at': 'Thu Aug 04 01:03:17 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
553,786036967502913536,NaN,NaN,2016-10-12 02:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Scout. He really wants ...,7.798343e+17,4.196984e+09,2016-09-25 00:06:08 +0000,https://twitter.com/dog_rates/status/779834332...,...,False,en,None,False,False,7358,False,{'created_at': 'Sun Sep 25 00:06:08 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
568,783347506784731136,NaN,NaN,2016-10-04 16:46:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Kenny. He just wants to...,6.742918e+17,4.196984e+09,2015-12-08 18:17:56 +0000,https://twitter.com/dog_rates/status/674291837...,...,False,en,None,False,False,5814,False,{'created_at': 'Tue Dec 08 18:17:56 +0000 2015...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
576,782021823840026624,NaN,NaN,2016-10-01 00:58:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Harper. She scraped her...,7.076109e+17,4.196984e+09,2016-03-09 16:56:11 +0000,https://twitter.com/dog_rates/status/707610948...,...,False,en,None,False,False,6463,False,{'created_at': 'Wed Mar 09 16:56:11 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
587,780496263422808064,NaN,NaN,2016-09-26 19:56:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bell. She likes holding...,7.424232e+17,4.196984e+09,2016-06-13 18:27:32 +0000,https://twitter.com/dog_rates/status/742423170...,...,False,en,None,False,False,3848,False,{'created_at': 'Mon Jun 13 18:27:32 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
588,780476555013349377,NaN,NaN,2016-09-26 18:38:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Patreon: Well. @dog_rates is on Patreon. \...,7.804657e+17,1.228326e+09,2016-09-26 17:55:00 +0000,"https://www.patreon.com/WeRateDogs,https://twi...",...,False,en,None,False,False,119,False,{'created_at': 'Mon Sep 26 17:55:00 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
599,778396591732486144,NaN,NaN,2016-09-21 00:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is an East African Chalupa...,7.030419e+17,4.196984e+09,2016-02-26 02:20:37 +0000,https://twitter.com/dog_rates/status/703041949...,...,False,en,None,False,False,12707,False,{'created_at': 'Fri Feb 26 02:20:37 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
606,777641927919427584,NaN,NaN,2016-09-18 22:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Arnie. He's a Nova Scot...,7.504293e+17,4.196984e+09,2016-07-05 20:41:01 +0000,https://twitter.com/dog_rates/status/750429297...,...,False,en,None,False,False,4393,False,{'created_at': 'Tue Jul 05 20:41:01 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
609,776819012571455488,NaN,NaN,2016-09-16 16:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Everybody look at this beautifu...,6.798284e+17,4.196984e+09,2015-12-24 00:58:27 +0000,https://twitter.com/dog_rates/status/679828447...,...,False,en,None,False,False,14228,False,{'created_at': 'Thu Dec 24 00:58:27 +0000 2015...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
616,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,https://twitter.com/dog_rates/status/733109485...,...,False,en,None,False,False,17155,False,{'created_at': 'Thu May 19 01:38:16 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
635,772615324260794368,NaN,NaN,2016-09-05 02:00:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Gromit. He's pupset bec...,7.652221e+17,4.196984e+09,2016-08-15 16:22:20 +0000,https://twitter.com/dog_rates/status/765222098...,...,False,en,None,False,False,3500,False,{'created_at': 'Mon Aug 15 16:22:20 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
645,771171053431250945,NaN,NaN,2016-09-01 02:21:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Frankie. He's wearing b...,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,https://twitter.com/dog_rates/status/673320132...,...,False,en,None,False,False,7785,False,{'created_at': 'Sun Dec 06 01:56:44 +0000 2015...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
649,771004394259247104,NaN,NaN,2016-08-31 15:19:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @katieornah: @dog_rates learning a lot at c...,7.710021e+17,1.732729e+09,2016-08-31 15:10:07 +0000,https://twitter.com/katieornah/status/77100213...,...,False,en,None,False,False,224,False,{'created_at': 'Wed Aug 31 15:10:07 +0000 2016...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [121]:
duplicate_columns = []

In [123]:
we_rate_dogs.in_reply_to_status_id.equals(we_rate_dogs.in_reply_to_status_id_str)

True

In [122]:
we_rate_dogs.in_reply_to_user_id.equals(we_rate_dogs.in_reply_to_user_id_str)

True

In [136]:
we_rate_dogs.retweeted_status_id.equals(we_rate_dogs.retweeted_status)

False

In [124]:
duplicate_columns.extend(['in_reply_to_status_id_str', 'in_reply_to_user_id_str'])

`timestamp` and `created_at` columns probably contain identical set of records. Let's test it for any random record. Let's subtract two columns from each other and see how many unique differences are there.

In [125]:
column_created = we_rate_dogs.created_at.dt.tz_localize(None)
column_timestamp = we_rate_dogs.timestamp.apply(lambda x: pd.Timestamp(x)).dt.tz_localize(None)

(column_created - column_timestamp).unique()

array([0], dtype='timedelta64[ns]')

There's only one unique value and that value is `0`. We can conclude that both columns contain indentical sets of data. Therefore let's add one of them to the `duplicate_columns` list for future removal.

In [126]:
duplicate_columns.append('created_at')

In [127]:
print ('duplicate_columns: ', duplicate_columns)

duplicate_columns:  ['in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'created_at']

### Zero columns

In [128]:
zero_columns = []

Summing data in columns highlights some of the empty variables.

In [129]:
zeros = we_rate_dogs.sum(axis=0) == 0

In [130]:
zeros.index[zeros]

Index(['contributors', 'coordinates', 'favorited', 'geo', 'is_quote_status',
       'possibly_sensitive', 'possibly_sensitive_appealable', 'retweeted',
       'truncated'],
      dtype='object')

In [131]:
# make list of all zero-value columns
zero_columns.extend(we_rate_dogs[zeros.index[zeros]].columns)

It seems that there is only one record in the 'place' column. What is it?

In [132]:
we_rate_dogs[we_rate_dogs.place.notnull()].place

686    {'id': '7356b662670b2c31', 'url': 'https://api...
Name: place, dtype: object

Let's store this place in a separate variable and remove the column.

In [133]:
wrd_place = we_rate_dogs.iloc[686]
zero_columns.append('place')

In [134]:
zero_columns

['contributors',
 'coordinates',
 'favorited',
 'geo',
 'is_quote_status',
 'possibly_sensitive',
 'possibly_sensitive_appealable',
 'retweeted',
 'truncated',
 'place']

### Redundant columns
Retweets and status replies comprise only a small fraction of tweets for this account. Let's store them in separate dataframes and remove from our main analysis.

In [135]:
redundant_columns = []

In [94]:
for i in we_rate_dogs.columns:
    c = we_rate_dogs[i].notna()
    c = len(c.index[c])
    if c<len(we_rate_dogs):
        print (c,' : ', i)

23  :  in_reply_to_status_id
23  :  in_reply_to_user_id
74  :  retweeted_status_id
74  :  retweeted_status_user_id
74  :  retweeted_status_timestamp
0  :  contributors
0  :  coordinates
0  :  geo
23  :  in_reply_to_screen_name
23  :  in_reply_to_status_id_str
23  :  in_reply_to_user_id_str
1  :  place
74  :  retweeted_status

In [ ]:
len(we_rate_dogs['in_reply_to_status_id'].notna()==True)

In [ ]:
replies_01 = we_rate_dogs[we_rate_dogs.in_reply_to_status_id.notna()]
replies_02 = we_rate_dogs[we_rate_dogs.in_reply_to_user_id.notna()]
retweets_01 = we_rate_dogs[we_rate_dogs.retweeted_status.notna()]
retweets_02 = we_rate_dogs[we_rate_dogs.retweeted_status_id.notna()]
retweets_03 = we_rate_dogs[we_rate_dogs.retweeted_status_user_id.notna()]
retweets_04 = we_rate_dogs[we_rate_dogs.retweeted_status_timestamp.notna()]

In [ ]:
redundant_columns.extend(['in_reply_to_status_id', 'in_reply_to_user_id',
'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp',
'in_reply_to_screen_name','retweeted_status'])

## Incorrect data types.

Some of the columns are `object` type, whereas they can be better represented by more specific variable types. Namely: 

`in_reply_to_status_id            float64 >> int64
in_reply_to_status_id_str        float64 >> int64
in_reply_to_user_id              float64 >> int64
in_reply_to_user_id_str          float64 >> int64
timestamp                        object >> datetime
retweeted_status_id              float64 >> int64
retweeted_status_user_id         float64 >> string
retweeted_status_timestamp       object >> datetime
doggo                            object >> bool
floofer                          object >> bool
pupper                           object >> bool
puppo                            object >> bool
lang                             object >> category
`

## Badly formatted data
### `expanded_urls` column
`expanded_urls` column contains long strings of multiple, often duplicate, URLs. They need to be parsed, duplicates removed, and stored in lists. Let's look how such an entry looks like.

In [ ]:
we_rate_dogs.expanded_urls[145]

### `source` column
`source` column contains messy long URLs, which, when parsed correctly can be best represented by a `category` type variable.

In [ ]:
we_rate_dogs.source[r]

### Hashtags

Hashtags are hidden deep inside hierarchical dictionaries. As they are very valuable analysis material - they'd rather be unpacked into a separate column.

---
# Clean data
---
After assessing the data - it's time to clean it.
## Quality
First we'll address quality issues.
### Define - remove duplicate and redundant data
Lets remove duplicate and redundant data first.

In [ ]:
we_rate_dogs.drop(columns=zero_columns, inplace=True)
we_rate_dogs.drop(columns=redundant_columns,inplace=True)

In [ ]:
print ('number of rows in the dataset: ', len(we_rate_dogs))
print ('number if columns in the dataset: ', len(we_rate_dogs.columns))

In [ ]:
we_rate_dogs.info()

In [ ]:
we_rate_dogs.expanded_urls[145]

#### Code
Goal is achieved by using `apply` function with a lambda, and via a series of type casts.

In [ ]:
we_rate_dogs.expanded_urls = we_rate_dogs.expanded_urls.apply(lambda x: list(set(str(x).split(','))))

#### Test
Let's access the same record.

In [ ]:
print (we_rate_dogs.expanded_urls[145][0])
print (we_rate_dogs.expanded_urls[145][1])

### Define - unpack 'display_text_range'
`display_text_range` column can be effectively reduced to a single `int` rather than a list.

In [ ]:
sum(we_rate_dogs.display_text_range.apply(lambda x: 1 if x[0] > 0 else 0))

#### Code

extract the relevant value, put it into a new column and drop the old column

In [ ]:
we_rate_dogs['display_text_end'] = we_rate_dogs.display_text_range.apply(lambda x: x[1]).astype(int)
we_rate_dogs.drop(columns='display_text_range', inplace=True)

#### Test
check if our new colum is of `int64` type

In [ ]:
print (type(we_rate_dogs.display_text_end[0]))
we_rate_dogs.head()

The `user` field contains a number of interesting fields. Let's unpack some of those into our dataframe.

### Define - unpack 'followers_count'
Unpack `followers_count` field from `user` into separate column

#### Code
Using `apply` function - unpack the values.

In [ ]:
we_rate_dogs['followers'] = we_rate_dogs.user.apply(lambda x: x['followers_count'])

#### Test
Check the new column is in place and that it's `int64` type.

In [ ]:
we_rate_dogs.info()

### Define
Unpack `favourites_count` from within `user` field into a separate column.

In [ ]:
we_rate_dogs['total_favourites'] = we_rate_dogs.user.apply(lambda x: x['favourites_count'])

In [ ]:
print (we_rate_dogs['total_favourites'].min())
print (we_rate_dogs['total_favourites'].mean())
print (we_rate_dogs['total_favourites'].max())

### Define - unpack 'source'

There should be a limited set of appications used to post tweets.

In [ ]:
# how many various sources were used to post tweets?
we_rate_dogs.source_x.unique()

#### Code
This kind of data is best represented as a categorical variable.

In [ ]:
we_rate_dogs.source_x = we_rate_dogs.source_x.apply(lambda x: x.split('>')[1].split('<')[0]).astype('category')

####  Test
Check unique values in the column.

In [ ]:
we_rate_dogs.source_x.unique()

### Define - unpack hashtags
Hashtags are nested deep inside dictionaries. To be useful for analysis - they need to be extracted into a separate columnb

#### Code

extract hashtags using the `apply` method, put them in a separate column and cast them into `category` type variable.

In [ ]:
we_rate_dogs['hashtags'] = we_rate_dogs.entities.apply(lambda x: x['hashtags'])

In [ ]:
def unpack_hashtags(x):
    try:
        return x[0]['text']
    except:
        return None
        
we_rate_dogs.hashtags = we_rate_dogs.hashtags.apply(lambda x: unpack_hashtags(x))

In [ ]:
we_rate_dogs.hashtags.unique()

With this few hashtags they are better as a 'category' type variable.

In [ ]:
we_rate_dogs.hashtags = we_rate_dogs.hashtags.astype('category')

#### Test
Check that the `hashtags` colummn is a `category` type.

In [ ]:
we_rate_dogs.info()

### Define - unpack URLs

Same as hashtags - `url`s are nested deep inside dictionaries. They need to be extracted into a separate column.

#### Code
Using `apply` function with a short lambda expression - extract the `url` into a new column.

In [ ]:
we_rate_dogs['url'] = we_rate_dogs.entities.apply(lambda x: x['media'][0]['url'])

#### Test
Check the new `url` column has the right information.

In [ ]:
we_rate_dogs.head()

In [ ]:
we_rate_dogs.info()

### Define - 'timestamp' VS 'created at'

`timestamp` and `created_at` columns are probably identical. If that's the case - one needs to be removed.

#### Code

In [ ]:
# first - convert timestamp into datetime format
we_rate_dogs.timestamp = pd.to_datetime(we_rate_dogs.timestamp)

#### Test

In [ ]:
# strip both fileds of time zone
we_rate_dogs['timestamp'] = we_rate_dogs['timestamp'].apply(lambda x: x.replace(tzinfo=None))
we_rate_dogs['created_at'] = we_rate_dogs['created_at'].apply(lambda x: x.replace(tzinfo=None))

In [ ]:
r = randrange (0, len(we_rate_dogs))
print (r)
print (we_rate_dogs.timestamp[r])
print (we_rate_dogs.created_at[r])

In [ ]:
# subtract one from the other and see unique entries
# ??? DAYS ONLY ???
(we_rate_dogs['timestamp'] - we_rate_dogs['created_at']).unique()

In [ ]:
# drop the created_at column
we_rate_dogs.drop(columns='created_at',inplace=True)

In [ ]:
we_rate_dogs.info()

### Define - dog categories into bools

`doggo`, `floofer`, `pupper`, `puppo` columns are better represented as `bool`s.

#### Code

In [ ]:
def to_bool(x):
    if x=='None':
        return False
    else:
        return True
    
we_rate_dogs.doggo = we_rate_dogs.doggo.apply(to_bool)
we_rate_dogs.floofer = we_rate_dogs.floofer.apply(to_bool)
we_rate_dogs.pupper = we_rate_dogs.pupper.apply(to_bool)
we_rate_dogs.puppo = we_rate_dogs.puppo.apply(to_bool)

#### Test
Check if the columns have correct data types in them.

In [ ]:
we_rate_dogs.info()

### Define - 'lang' into category
Convert `lang` column into category.

#### Code

In [ ]:
we_rate_dogs.lang = we_rate_dogs.lang.astype('category')

### Test

In [ ]:
we_rate_dogs.info()

## Analysis part

In [ ]:
print ('start date: ', we_rate_dogs.timestamp.min())
print ('end date: ', we_rate_dogs.timestamp.max())
duration = we_rate_dogs.timestamp.max()- we_rate_dogs.timestamp.min()
print ('duration: ', duration)
print ('average tweets per day: ', len(we_rate_dogs)/duration.days)

In [ ]:
type(duration.days)