
**Your goal**: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.


1. The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv

2. The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv]

3. Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

Detect and document at least
* **Eight quality issues**
* **Two tidiness issues**


* **three insights** 
* **one visualization**

* Create a 300-600 word written report called wrangle_report.pdf or wrangle_report.html that briefly describes your wrangling efforts. This is to be framed as an internal document.

* Create a 250-word-minimum written report called act_report.pdf or act_report.html that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.

In [1]:
import requests as rq
import pandas as pd
import numpy as np
import io
import json

### Read the enhanced twitter archive into a dataframe

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [4]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Download the tweet image predictions

In [5]:
r = rq.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [6]:
r.status_code

200

In [7]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [8]:
r.encoding

'utf-8'

#### Load the received .tsv file into a dataframe

In [9]:
image_predictions = pd.DataFrame.from_csv(io.StringIO(r.content.decode(r.encoding)), sep='\t')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [10]:
image_predictions.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [11]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 666020888022790149 to 892420643555336193
Data columns (total 11 columns):
jpg_url    2075 non-null object
img_num    2075 non-null int64
p1         2075 non-null object
p1_conf    2075 non-null float64
p1_dog     2075 non-null bool
p2         2075 non-null object
p2_conf    2075 non-null float64
p2_dog     2075 non-null bool
p3         2075 non-null object
p3_conf    2075 non-null float64
p3_dog     2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 152.0+ KB

### Merge twitter archive and image predictions

In [12]:
merged_df = pd.merge(twitter_archive,image_predictions,how='inner',on='tweet_id')

In [13]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 28 columns):
tweet_id                      2075 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2075 non-null object
source                        2075 non-null object
text                          2075 non-null object
retweeted_status_id           81 non-null float64
retweeted_status_user_id      81 non-null float64
retweeted_status_timestamp    81 non-null object
expanded_urls                 2075 non-null object
rating_numerator              2075 non-null int64
rating_denominator            2075 non-null int64
name                          2075 non-null object
doggo                         2075 non-null object
floofer                       2075 non-null object
pupper                        2075 non-null object
puppo                         2075 non-null object
jpg_url                       2075 non-null object
img_num                       2075 non-null int64
p1                            2075 non-null object
p1_conf                       2075 non-null float64
p1_dog                        2075 non-null bool
p2                            2075 non-null object
p2_conf                       2075 non-null float64
p2_dog                        2075 non-null bool
p3                            2075 non-null object
p3_conf                       2075 non-null float64
p3_dog                        2075 non-null bool
dtypes: bool(3), float64(7), int64(4), object(14)
memory usage: 427.6+ KB

In [14]:
merged_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

### Set up Twitter API via tweepy

In [ ]:
import tweepy

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
api.wait_on_rate_limit = True

In [ ]:
test_tweet = api.get_status('892420643555336193', tweet_mode='extended')

### Download WeRateDogs Twitter archive. Takes around 30 mins.

In [ ]:
# create an empty array to store dictionaries retrieved via API
tweets = []
missing_tweets = []

# use tweet_id's from our dataframe to retrieve original tweets
for i in merged_df.tweet_id:
    try:
        tweets.append (api.get_status(i, tweet_mode='extended'))
    except:
        missing_tweets.append(i)
        print ('tweet #', i, ' could not be located')
            
# write downloaded tweets to a json file and store it locally            
with open('tweets.json', 'w') as outfile:
    json.dump(tweets, outfile)

In [ ]:
missing_tweets

### Read the downloaded and saved archive from a local .json file

In [15]:
tweets = pd.read_json ('tweets.json')

In [16]:
tweets.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,en,None,False,False,7979,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,False,This is Tilly. She's just checking pup on you....,NaN,...,en,None,False,False,5925,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,en,None,False,False,3913,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,False,This is Darla. She commenced a snooze mid meal...,NaN,...,en,None,False,False,8132,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,False,This is Franklin. He would like you to stop ca...,NaN,...,en,None,False,False,8812,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

#### quality:
* remove all empty columns
- in_reply_to_status_id and in_reply_to_status_id_str >> should be strings
- in_reply_to_user_id and in_reply_to_user_id_str >> should be strings


#### tidiness:
* 'display_text_range' is an array that always starts with '0'
* 'source' column should be turned into a categorical variable
* unpack hashtags into a separate column and make it a categotical variable
* unpack tweet URLs into a separate column
* split 'created_at'column into separate date and time

In [17]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 28 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2061 non-null datetime64[ns]
display_text_range               2061 non-null object
entities                         2061 non-null object
extended_entities                2061 non-null object
favorite_count                   2061 non-null int64
favorited                        2061 non-null bool
full_text                        2061 non-null object
geo                              0 non-null float64
id                               2061 non-null int64
id_str                           2061 non-null int64
in_reply_to_screen_name          23 non-null object
in_reply_to_status_id            23 non-null float64
in_reply_to_status_id_str        23 non-null float64
in_reply_to_user_id              23 non-null float64
in_reply_to_user_id_str          23 non-null float64
is_quote_status                  2061 non-null bool
lang                             2061 non-null object
place                            1 non-null object
possibly_sensitive               2061 non-null bool
possibly_sensitive_appealable    2061 non-null bool
retweet_count                    2061 non-null int64
retweeted                        2061 non-null bool
retweeted_status                 74 non-null object
source                           2061 non-null object
truncated                        2061 non-null bool
user                             2061 non-null object
dtypes: bool(6), datetime64[ns](1), float64(7), int64(4), object(10)
memory usage: 366.4+ KB

Let's see if there are any empty columns

In [18]:
tweets.sum(axis=0)

contributors                                                                     0
coordinates                                                                      0
display_text_range               [0, 85, 0, 138, 0, 121, 0, 79, 0, 138, 0, 138,...
favorite_count                                                            16894703
favorited                                                                        0
full_text                        This is Phineas. He's a mystical boy. Only eve...
geo                                                                              0
id                                                             8098880034596373798
id_str                                                         8098880034596372480
in_reply_to_status_id                                                  1.60497e+19
in_reply_to_status_id_str                                              1.60497e+19
in_reply_to_user_id                                                    9.65306e+10
in_reply_to_user_id_str                                                9.65306e+10
is_quote_status                                                                  0
lang                             enenenenenenenenenenenenenenenenenenenenenenen...
possibly_sensitive                                                               0
possibly_sensitive_appealable                                                    0
retweet_count                                                              5527092
retweeted                                                                        0
source                           <a href="http://twitter.com/download/iphone" r...
truncated                                                                        0
dtype: object

From the above it is clear that some columns contain no information. Let's remove them.

In [19]:
columns_to_drop = ['contributors','coordinates','favorited','geo','is_quote_status','possibly_sensitive','possibly_sensitive_appealable','retweeted','truncated']
tweets.drop(columns=columns_to_drop, inplace=True)
tweets.head()

,created_at,display_text_range,entities,extended_entities,favorite_count,full_text,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,lang,place,retweet_count,retweeted_status,source,user
0,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,This is Phineas. He's a mystical boy. Only eve...,892420643555336193,892420643555336192,None,NaN,NaN,NaN,NaN,en,None,7979,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,This is Tilly. She's just checking pup on you....,892177421306343426,892177421306343424,None,NaN,NaN,NaN,NaN,en,None,5925,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,891815181378084864,None,NaN,NaN,NaN,NaN,en,None,3913,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,This is Darla. She commenced a snooze mid meal...,891689557279858688,891689557279858688,None,NaN,NaN,NaN,NaN,en,None,8132,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,This is Franklin. He would like you to stop ca...,891327558926688256,891327558926688256,None,NaN,NaN,NaN,NaN,en,None,8812,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [20]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 19 columns):
created_at                   2061 non-null datetime64[ns]
display_text_range           2061 non-null object
entities                     2061 non-null object
extended_entities            2061 non-null object
favorite_count               2061 non-null int64
full_text                    2061 non-null object
id                           2061 non-null int64
id_str                       2061 non-null int64
in_reply_to_screen_name      23 non-null object
in_reply_to_status_id        23 non-null float64
in_reply_to_status_id_str    23 non-null float64
in_reply_to_user_id          23 non-null float64
in_reply_to_user_id_str      23 non-null float64
lang                         2061 non-null object
place                        1 non-null object
retweet_count                2061 non-null int64
retweeted_status             74 non-null object
source                       2061 non-null object
user                         2061 non-null object
dtypes: datetime64[ns](1), float64(4), int64(4), object(10)
memory usage: 306.0+ KB

In [21]:
# is the assumption that all 'display_text_range' values start with a '0' correct ?
for i in tweets.display_text_range:
    if i[0] > 0:
        print (i)

nothing printed, so yes - all values start with 0, which means we can drop those

In [25]:
tweets['display_text_end'] = tweets.display_text_range.apply(lambda x: x[1]).astype(int)

In [26]:
tweets.head()

,created_at,display_text_range,entities,extended_entities,favorite_count,full_text,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,lang,place,retweet_count,retweeted_status,source,user,display_text_end
0,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,This is Phineas. He's a mystical boy. Only eve...,892420643555336193,892420643555336192,None,NaN,NaN,NaN,NaN,en,None,7979,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",85
1,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,This is Tilly. She's just checking pup on you....,892177421306343426,892177421306343424,None,NaN,NaN,NaN,NaN,en,None,5925,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
2,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,891815181378084864,None,NaN,NaN,NaN,NaN,en,None,3913,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",121
3,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,This is Darla. She commenced a snooze mid meal...,891689557279858688,891689557279858688,None,NaN,NaN,NaN,NaN,en,None,8132,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",79
4,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,This is Franklin. He would like you to stop ca...,891327558926688256,891327558926688256,None,NaN,NaN,NaN,NaN,en,None,8812,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138

In [27]:
tweets.drop(columns='display_text_range')

,created_at,entities,extended_entities,favorite_count,full_text,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,lang,place,retweet_count,retweeted_status,source,user,display_text_end
0,2017-08-01 16:23:56,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,This is Phineas. He's a mystical boy. Only eve...,892420643555336193,892420643555336192,None,NaN,NaN,NaN,NaN,en,None,7979,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",85
1,2017-08-01 00:17:27,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,This is Tilly. She's just checking pup on you....,892177421306343426,892177421306343424,None,NaN,NaN,NaN,NaN,en,None,5925,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
2,2017-07-31 00:18:03,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,891815181378084864,None,NaN,NaN,NaN,NaN,en,None,3913,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",121
3,2017-07-30 15:58:51,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,This is Darla. She commenced a snooze mid meal...,891689557279858688,891689557279858688,None,NaN,NaN,NaN,NaN,en,None,8132,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",79
4,2017-07-29 16:00:24,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,This is Franklin. He would like you to stop ca...,891327558926688256,891327558926688256,None,NaN,NaN,NaN,NaN,en,None,8812,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
5,2017-07-29 00:08:17,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891087942176911360, 'id_str'...",19493,Here we have a majestic great white breaching ...,891087950875897856,891087950875897856,None,NaN,NaN,NaN,NaN,en,None,2932,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
6,2017-07-28 16:27:12,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890971906207338496, 'id_str'...",11378,Meet Jax. He enjoys ice cream so much he gets ...,890971913173991426,890971913173991424,None,NaN,NaN,NaN,NaN,en,None,1945,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",140
7,2017-07-28 00:22:40,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890729118844600320, 'id_str'...",62833,When you watch your owner call another dog a g...,890729181411237888,890729181411237888,None,NaN,NaN,NaN,NaN,en,None,17772,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",118
8,2017-07-27 16:25:51,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890609177319665665, 'id_str'...",26821,This is Zoey. She doesn't want to be one of th...,890609185150312448,890609185150312448,None,NaN,NaN,NaN,NaN,en,None,4030,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",122
9,2017-07-26 15:59:51,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890240245463175168, 'id_str'...",30719,This is Cassie. She is a college pup. Studying...,890240255349198849,890240255349198848,None,NaN,NaN,NaN,NaN,en,None,6943,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",133
10,2017-07-26 00:31:25,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890006600089468928, 'id_str'...",29555,This is Koda. He is a South Australian decksha...,890006608113172480,890006608113172480,None,NaN,NaN,NaN,NaN,en,None,6903,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",130
11,2017-07-25 16:11:53,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889880888800096258, 'id_str'...",26808,This is Bruno. He is a service shark. Only get...,889880896479866881,889880896479866880,None,NaN,NaN,NaN,NaN,en,None,4698,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",107
12,2017-07-25 01:55:32,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889665366129029120, 'id_str'...",46292,Here's a puppo that seems to be on the fence a...,889665388333682689,889665388333682688,None,NaN,NaN,NaN,NaN,en,None,9449,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",106
13,2017-07-25 00:10:02,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889638825424826374, 'id_str'...",26099,This is Ted. He does his best. Sometimes that'...,889638837579907072,889638837579907072,None,NaN,NaN,NaN,NaN,en,None,4236,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",91
14,2017-07-24 17:02:04,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889531127467266049, 'id_str'...",14562,This is Stuart. He's sporting his favorite fan...,889531135344209921,889531135344209920,None,NaN,NaN,NaN,NaN,en,None,2122,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",118
15,2017-07-24 00:19:32,"{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889278779352338437, 'id_str'...",24306,This is Oliver. You're witnessing one of his m...,889278841981685760,889278841981685760,None,NaN,NaN,NaN,NaN,en,None,5045,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
16,2017-07-23 00:22:39,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888917229776945152, 'id_str'...",28057,This is Jim. He found a fren. Taught him how t...,888917238123831296,888917238123831296,None,NaN,NaN,NaN,NaN,en,None,4234,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",86
17,2017-07-22 16:56:37,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888804981515575296, 'id_str'...",24632,This is Zeke. He has a new stick. Very proud o...,888804989199671297,888804989199671296,None,NaN,NaN,NaN,NaN,en,None,4011,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",128
18,2017-07-22 00:23:06,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888554915546542081, 'id_str'...",19078,This is Ralphus. He's powering up. Attempting ...,888554962724278272,888554962724278272,None,NaN,NaN,NaN,NaN,en,None,3318,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",87
19,2017-07-20 16:49:33,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888078426338406400, 'id_str'...",20959,This is Gerald. He was just told he didn't get...,888078434458587136,888078434458587136,None,NaN,NaN,NaN,NaN,en,None,3273,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",127
20,2017-07-19 16:06:48,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887705281597243393, 'id_str'...",29075,This is Jeffrey. He has a monopoly on the pool...,887705289381826560,887705289381826560,None,NaN,NaN,NaN,NaN,en,None,5074,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",127
21,2017-07-19 03:39:09,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887517108413886465, 'id_str'...",44601,I've yet to rate a Venezuelan Hover Wiener. Th...,887517139158093824,887517139158093824,None,NaN,NaN,NaN,NaN,en,None,11044,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",108
22,2017-07-19 00:47:34,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887473949361045505, 'id_str'...",66319,This is Canela. She attempted some fancy porch...,887473957103951883,887473957103951872,None,NaN,NaN,NaN,NaN,en,None,16992,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",99
23,2017-07-18 16:08:03,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887343120832229379, 'id_str'...",32426,You may not have known you needed to see this ...,887343217045368832,887343217045368832,None,NaN,NaN,NaN,NaN,en,None,9838,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",88
24,2017-07-18 00:07:08,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887101385971384320, 'id_str'...",29432,This... is a Jubilant Antarctic House Bear. We...,887101392804085760,887101392804085760,None,NaN,NaN,NaN,NaN,en,None,5611,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",129
25,2017-07-17 16:17:36,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886983218871902208, 'id_str'...",33788,This is Maya. She's very shy. Rarely leaves he...,886983233522544640,886983233522544640,None,NaN,NaN,NaN,NaN,en,None,7235,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",101
26,2017-07-16 23:58:41,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886736868116754432, 'id_str'...",11576,This is Mingus. He's a wonderful father to his...,886736880519319552,886736880519319552,None,NaN,NaN,NaN,NaN,en,None,3052,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",121
27,2017-07-16 20:14:00,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886680331239161856, 'id_str'...",21602,This is Derek. He's late for a dog meeting. 13...,886680336477933568,886680336477933568,None,NaN,NaN,NaN,NaN,en,None,4196,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",71
28,2017-07-15 23:25:31,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886366138128449536, 'id_str'...",20374,This is Roscoe. Another pupper fallen victim t...,886366144734445568,886366144734445568,None,NaN,NaN,NaN,NaN,en,None,3000,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",131
29,2017-07-15 16:17:19,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886258377298292737, 'id_str'...",26945,This is Waffles. His doggles are pupside down....,886258384151887873,886258384151887872,None,NaN,NaN,NaN,NaN,en,None,5944,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2031,2015-11-17 00:24:19,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666411498068123649, 'id_str'...",424,This is quite the dog. Gets really excited whe...,666411507551481857,666411507551481856,None,NaN,NaN,NaN,NaN,en,None,315,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",140
2032,2015-11-17 00:06:54,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666407121513275392, 'id_str'...",103,This is a southern Vesuvius bumblegruff. Can d...,666407126856765440,666407126856765440,None,NaN,NaN,NaN,NaN,en,None,36,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",139
2033,2015-11-16 23:23:41,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666396240351993856, 'id_str'...",160,Oh goodness. A super rare northeast Qdoba kang...,666396247373291520,666396247373291520,None,NaN,NaN,NaN,NaN,en,None,80,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",137
2034,2015-11-16 21:54:18,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666373746337402880, 'id_str'...",179,Those are sunglasses and a jean jacket. 11/10 ...,666373753744588802,666373753744588800,None,NaN,NaN,NaN,NaN,en,None,86,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",81
2035,2015-11-16 21:10:36,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666362717482020864, 'id_str'...",748,Unique dog here. Very small. Lives in containe...,666362758909284353,666362758909284352,None,NaN,NaN,NaN,NaN,en,None,538,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",140
2036,2015-11-16 20:32:58,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666353280906170368, 'id_str'...",211,Here we have a mixed Asiago from the Galápagos...,666353288456101888,666353288456101888,None,NaN,NaN,NaN,NaN,en,None,71,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",135
2037,2015-11-16 20:01:42,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666345414279471104, 'id_str'...",281,Look at this jokester thinking seat belt laws ...,666345417576210432,666345417576210432,None,NaN,NaN,NaN,NaN,en,None,130,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",112
2038,2015-11-16 19:31:45,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666337857791987715, 'id_str'...",188,This is an extremely rare horned Parthenon. No...,666337882303524864,666337882303524864,None,NaN,NaN,NaN,NaN,en,None,87,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",139
2039,2015-11-16 16:37:02,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666293909010702337, 'id_str'...",481,This is a funny dog. Weird toes. Won't come do...,666293911632134144,666293911632134144,None,NaN,NaN,NaN,NaN,en,None,331,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",138
2040,2015-11-16 16:11:11,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666287399580733440, 'id_str'...",141,This is an Albanian 3 1/2 legged Episcopalian...,666287406224695296,666287406224695296,None,NaN,NaN,NaN,NaN,en,None,63,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",136
2041,2015-11-16 15:14:19,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666273081518768128, 'id_str'...",166,Can take selfies 11/10 https://t.co/ws2AMaNwPW,666273097616637952,666273097616637952,None,NaN,NaN,NaN,NaN,en,None,74,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",46
2042,2015-11-16 14:57:41,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666268904428277760, 'id_str'...",99,Very concerned about fellow dog trapped in com...,666268910803644416,666268910803644416,None,NaN,NaN,NaN,NaN,en,None,32,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",82
2043,2015-11-16 04:02:55,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666104129232740352, 'id_str'...",13812,Not familiar with this breed. No tail (weird)....,666104133288665088,666104133288665088,None,NaN,NaN,NaN,NaN,en,None,6191,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",134
2044,2015-11-16 03:55:04,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666102150364286977, 'id_str'...",75,Oh my. Here you are seeing an Adobe Setter giv...,666102155909144576,666102155909144576,None,NaN,NaN,NaN,NaN,en,None,11,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",128
2045,2015-11-16 03:44:34,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666099505364733952, 'id_str'...",147,Can stand on stump for what seems like a while...,666099513787052032,666099513787052032,None,NaN,NaN,NaN,NaN,en,None,63,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",140
2046,2015-11-16 03:22:39,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666093996847063040, 'id_str'...",158,This appears to be a Mongolian Presbyterian mi...,666094000022159362,666094000022159360,None,NaN,NaN,NaN,NaN,en,None,68,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",132
2047,2015-11-16 02:38:37,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666082912819875840, 'id_str'...",109,Here we have a well-established sunblockerspan...,666082916733198337,666082916733198336,None,NaN,NaN,NaN,NaN,en,None,42,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",125
2048,2015-11-16 01:59:36,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666073098362486784, 'id_str'...",309,Let's hope this flight isn't Malaysian (lol). ...,666073100786774016,666073100786774016,None,NaN,NaN,NaN,NaN,en,None,150,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",137
2049,2015-11-16 01:52:02,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666071190449033216, 'id_str'...",140,Here we have a northern speckled Rhododendron....,666071193221509120,666071193221509120,None,NaN,NaN,NaN,NaN,en,None,55,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",137
2050,2015-11-16 01:22:45,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666063820255862784, 'id_str'...",458,This is the happiest dog you will ever see. Ve...,666063827256086533,666063827256086528,None,NaN,NaN,NaN,NaN,en,None,204,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",107
2051,2015-11-16 01:01:59,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666058597072306176, 'id_str'...",108,Here is the Rand Paul of retrievers folks! He'...,666058600524156928,666058600524156928,None,NaN,NaN,NaN,NaN,en,None,56,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",135
2052,2015-11-16 00:55:59,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666057085227016192, 'id_str'...",280,My oh my. This is a rare blond Canadian terrie...,666057090499244032,666057090499244032,None,NaN,NaN,NaN,NaN,en,None,131,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",124
2053,2015-11-16 00:49:46,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666055517517848576, 'id_str'...",420,Here is a Siberian heavily armored polar bear ...,666055525042405380,666055525042405376,None,NaN,NaN,NaN,NaN,en,None,226,NaN,"<a href=""http://twitter.com/download/iphone"" r...","{'id': 4196983835, 'id_str': '4196983835', 'na...",140

In [28]:
# how many user ids are there?
tweets.user.apply(lambda x: x['id']).nunique()

1

In [29]:
# For the purpose of our analysis - we can drop the 'user' column
tweets = tweets.drop(columns = 'user')

In [30]:
# how many various sources were used to post tweets?
tweets.source.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

Considering there are only three distinct values - this is best represented as a categorical variable.

In [31]:
tweets.source = tweets.source.apply(lambda x: x.split('>')[1].split('<')[0]).astype('category')

In [32]:
tweets.source.unique()

[Twitter for iPhone, Twitter Web Client, TweetDeck]
Categories (3, object): [Twitter for iPhone, Twitter Web Client, TweetDeck]

What hashtags are there in use?

In [33]:
tweets['hashtags'] = tweets.entities.apply(lambda x: x['hashtags'])

In [34]:
def unpack_hashtags(x):
    try:
        return x[0]['text']
    except:
        return None
        
tweets.hashtags = tweets.hashtags.apply(lambda x: unpack_hashtags(x))

In [35]:
tweets.hashtags.unique()

array([None, 'BarkWeek', 'Canada150', 'PrideMonthPuppo', 'PrideMonth',
       'dogsatpollingstations', 'ScienceMarch', 'K9VeteransDay',
       'GoodDogs', 'WKCDogShow', 'BellLetsTalk', 'WomensMarch',
       'FinalFur', 'LoveTwitter', 'notallpuppers', 'NoDaysOff'],
      dtype=object)

With this few hashtags they are better as a 'category' type variable.

In [36]:
tweets.hashtags = tweets.hashtags.astype('category')

In [37]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 20 columns):
created_at                   2061 non-null datetime64[ns]
display_text_range           2061 non-null object
entities                     2061 non-null object
extended_entities            2061 non-null object
favorite_count               2061 non-null int64
full_text                    2061 non-null object
id                           2061 non-null int64
id_str                       2061 non-null int64
in_reply_to_screen_name      23 non-null object
in_reply_to_status_id        23 non-null float64
in_reply_to_status_id_str    23 non-null float64
in_reply_to_user_id          23 non-null float64
in_reply_to_user_id_str      23 non-null float64
lang                         2061 non-null object
place                        1 non-null object
retweet_count                2061 non-null int64
retweeted_status             74 non-null object
source                       2061 non-null category
display_text_end             2061 non-null int64
hashtags                     24 non-null category
dtypes: category(2), datetime64[ns](1), float64(4), int64(5), object(8)
memory usage: 294.8+ KB

Let's take the URL out of the 'entities' column and put it into a dedicated column.

In [39]:
tweets['url'] = tweets.entities.apply(lambda x: x['media'][0]['url'])

In [40]:
tweets.head()

,created_at,display_text_range,entities,extended_entities,favorite_count,full_text,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,...,in_reply_to_user_id,in_reply_to_user_id_str,lang,place,retweet_count,retweeted_status,source,display_text_end,hashtags,url
0,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37246,This is Phineas. He's a mystical boy. Only eve...,892420643555336193,892420643555336192,None,NaN,...,NaN,NaN,en,None,7979,NaN,Twitter for iPhone,85,NaN,https://t.co/MgUWQ76dJU
1,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32027,This is Tilly. She's just checking pup on you....,892177421306343426,892177421306343424,None,NaN,...,NaN,NaN,en,None,5925,NaN,Twitter for iPhone,138,NaN,https://t.co/0Xxu71qeIV
2,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24129,This is Archie. He is a rare Norwegian Pouncin...,891815181378084864,891815181378084864,None,NaN,...,NaN,NaN,en,None,3913,NaN,Twitter for iPhone,121,NaN,https://t.co/wUnZnhtVJB
3,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",40568,This is Darla. She commenced a snooze mid meal...,891689557279858688,891689557279858688,None,NaN,...,NaN,NaN,en,None,8132,NaN,Twitter for iPhone,79,NaN,https://t.co/tD36da7qLQ
4,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",38800,This is Franklin. He would like you to stop ca...,891327558926688256,891327558926688256,None,NaN,...,NaN,NaN,en,None,8812,NaN,Twitter for iPhone,138,BarkWeek,https://t.co/AtUZn91f7f

To merge with the `merged_df` dataset 'id' column needs to be renamed.

In [ ]:
tweets.rename(columns={'id':'tweet_id'},inplace=True)

In [ ]:
we_rate_dogs = pd.merge(merged_df,tweets, how='inner', on='tweet_id')

In [ ]:
we_rate_dogs.columns

For the purposes of this analysis we will drop information related to the external conversations.

In [ ]:
external_conversation_columns = [
'in_reply_to_status_id_x',
'in_reply_to_user_id_x',
'retweeted_status_id',
'retweeted_status_user_id',
'in_reply_to_screen_name',
'in_reply_to_status_id_y',
'in_reply_to_status_id_str',
'in_reply_to_user_id_y',
'in_reply_to_user_id_str',
'retweeted_status',
'retweeted_status_timestamp']

In [ ]:
we_rate_dogs.drop(columns=external_conversation_columns, inplace=True)

'text' and 'full_text' columns seem to be identical. let's remove one of them.

In [ ]:
print (we_rate_dogs.iloc[0]['text'])
print (we_rate_dogs.iloc[0]['full_text'])

In [ ]:
we_rate_dogs.drop(columns='full_text',inplace=True)

tweet timestamp field should be time date

In [ ]:
we_rate_dogs.timestamp = pd.to_datetime(we_rate_dogs.timestamp)

In [ ]:
we_rate_dogs.info()